.page-header {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 30px;
    padding-top: 9px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-content-width;
    margin: 0 auto;
    padding-top: 26px;
  }
}

.page-header__logo-wrapper {
  position: relative;
  height: 65px;

  @media (min-width: @tablet-width) {
    margin-top: 9px;
    margin-right: 79px;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 14px;
  margin-left: -140px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    padding: 0;
    position: relative;
    left: 0;
  }
}

.page-header__logo-icon {
  width: 33px;
  height: 37px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 174px;
    height: 66px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 202px;
    height: 59px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    padding-top: 12px;
  }
}

.page-header__logo-name {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.desctop-header-background {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 694px;

    background: url("../img/green-cat-desktop.png") no-repeat 0 0,
      url("../img/background-desktop.png") no-repeat 50% 50%;

    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background: url("../img/green-cat-desktop.png") no-repeat 0 0,
        url("../img/background-desktop.png") no-repeat 0 0;
      background-size: 720px auto;
    }
  }
}
