.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-goods__item {
  border-bottom: 1px solid @special-grey-2;
}

.additional-goods__item-first {
  border-top: 1px solid @special-grey-2;
}

.additional-goods__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.additional-goods__table {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
}
