@import "colors.less";

.choose-button {
  width: 280px;
  min-height: 40px;

  background-color: @basic-green;

  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}

.selection-button {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
}

.button-slider {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.form__button {
  width: 280px;
  height: 40px;
  border: none;
  background-color: @basic-green;

  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-button {
  width: 280px;
  height: 40px;

  background-color: @basic-green;
  border: none;

  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  text-transform: uppercase;
  color: @white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-button--disabled {
  background-color: @basic-grey;
  color: @special_dark-grey;
}
