.catalog-selection__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 40px;
  }
}

.catalog-selection__list {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 580px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  @media (min-width: @tablet-width) {
    height: 774px;
  }

  @media (min-width: @desktop-width) {
    height: 374px;

    display: flex;
    flex-direction: row;
  }
}

.catalog-selection__item {
  background-color: @basic-grey;
}

.catalog-selection__title {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
}

.catalog-selection__content {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}
