.catalog-title {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  border-bottom: 1px solid @special-grey;
}

.catalog-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-products__item {
  border-bottom: 1px solid @special-grey;
}

.catalog-products__title {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-3;
}

.catalog-products__table {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}

.catalog-products__description {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}
