.live-example {
  background-color: @basic-background;
}


.live-example__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @black;
}

.live-example__content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.live-example__list {
  list-style: none;
}

.live-example__number {
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.live-example__description {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
}

.live-example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}
