.live-example {
  background-color: @basic-background;


  @media (min-width: @tablet-width) {
    background-color: @basic-background;
    background-image: linear-gradient(@white 57.3%, transparent 57.3%);
    padding-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-background;
    background-image: linear-gradient(@white 29%, transparent 30%);
    padding-bottom: 35px;
  }
}

.live-example__wrapper {
  margin: 0 23px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.live-example__text-wrapper {
  @media (min-width: @desktop-width) {
    margin-right: 163px;
  }
}

.live-example__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 33px;

  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    margin-bottom: 147px;
  }
}

.live-example__content {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;

    br {
      display: none;
    }
  }
}

.live-example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

  .live-example__list-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 366px;
  }
}


.live-example__item {
  width: 124px;
  height: 64px;
  padding-top: 14px;

  text-align: center;
  background: url(../img/weight-back.svg) no-repeat 0 0;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
    padding-top: 15px;
    margin-right: 41px;

    &--before {
      background: url(../img/weight-back-tablet.svg) no-repeat 0 0;
    }

    &--after {
      background: url(../img/weight-back-tablet-after.svg) no-repeat 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.live-example__number {
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.live-example__description {
  padding: 0;
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;

    br {
      display: none;
    }
  }
}

.live-example__price {
  margin-bottom: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    display: block;
    width: 174px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    margin-bottom: 0;
    margin-top: 6px;
    margin-right: 7px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    height: 620px;
    background: url(../img/image-cat-slider-tablet.png) no-repeat 50% 50%;
    margin-left: -3px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/image-cat-slider-tablet@2x.png);
      background-size: 1416px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url(../img/slider-cat-desktop.png);
    background-position: 80% 0%;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/slider-cat-desktop@2x.png);
      background-size: 690px auto;
    }
  }
}

.slider__img {
  margin-bottom: 23px;
  margin-left: -11px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__buttons {
  width: 228px;
  height: 40px;
  padding-right: 7px;
  margin-left: 12px;
  margin-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 569px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-left: 35px;
    padding-top: 572px;
  }
}

.slider__toggle {
  width: 84px;
  height: 14px;
  border: 1px solid @special-grey-2;
  border-radius: 15px;

  &--before {
    background: @white url(../img/toggle-green-background.svg) no-repeat 5px 50%;
  }

  &--after {
    background: @white url(../img/toggle-green-background.svg) no-repeat right 5px top 50%;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__range-control {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 428px;
    height: 34px;
  }
}

.slider__scale {
  width: 428px;
  height: 6px;
  background-color: @grey-scale;
  border-radius: 6px;
  margin-top: 14px;
}

.slider__control {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: -2px;
    left: 193px;
    width: 38px;
    height: 38px;
    background: url(../img/slider-control.svg) no-repeat 0 0;
  }

}
