.live-example {
  background-color: @basic-background;
  width: 100%;
}

.live-example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0 40px;

    display: flex;
    flex-direction: row;
  }
}

.live-example__title {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @black;
}

.live-example__content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.live-example__list {
  list-style: none;
}

.live-example__number {
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.live-example__description {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
}

.live-example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}
