@import "colors.less";

.page-header__logo {
  border-bottom: 1px solid @grey-border-2;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  border-bottom: 1px solid @grey-border-2;
}

.main-nav__link {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
